body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(img/background2.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  
  
/* Header Style */
.header {
  background-color:rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  padding: 24px 80px;
  box-sizing: border-box;
  z-index: 1;
}

.header a.logo {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 25px #ffffff;
}

.header a.logo img {
  height: 60px;
  width: 60px;
  padding: 0 20px;
}

.header a {
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  margin: 0px 20px;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
  text-shadow: 0 0 25px #ffffff;
  font-family: "Lucida Console", "Courier New", monospace;
}

.header a.active {
  background-color: rgb(214, 55, 219);
  text-shadow: 0 0 25px #ffffff;
  color: white;
}

.header-right {
  margin-top: 10px;
  float: right;
}

.header-right a:hover {
  background-color: #ff00ff;
  box-shadow: 0 0 25px #ff00ff; 
}

.intro-img {
  margin: 0;
  height: auto;
  width: auto;
  z-index: 0;
}


/* Content */
/* ikabil ditoy jay design jay pangcomputer */
.content {
  padding-top: 2%;
}

.content-box {
  background-color:rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 200px 200px;
  padding: 10px 200px;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.fist-content {
  margin: 10px 10px;
  text-align: left;
}

.fist-content h1 {
  color: white;
  padding: 32px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fist-content div {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(18, 18, 18, 0.6);
}

.content1 img {
  height: 350px;
  width: 500px;
}

.content2 img {
  height: 350px;
  width: 500px;
}

.content3 img {
  height: 350px;
  width: 500px;
}

.fist-content p {
  font-size: 24px;
  margin-top: 50px;
  margin: 50px;
  color: white;
  text-shadow: 0 0 10px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Footer */
footer {
  background-color:rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
}

footer h4 {
  text-shadow: 0 0 2px #ffffff; 
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}


/* Mobile Phone Screen */
@media screen and (max-width: 1080px) {
/* Header Style */
.header {
  background-color:rgba(18, 18, 18, 1);
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding: 24px px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.header a {
  flex-grow: 1;
  flex-basis: 200;
  width: 250px;
  float: none;
  display: block;
  text-align: left;
}

.header-right {
  float: none;
}

.content-box {
  background-color:rgba(18, 18, 18, 0.8);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px;
}

.content-box {
  flex-grow: 1;
  flex-basis: 200;
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  display: flex;
  flex-wrap: wrap;
}

.content1 img, p {
  flex-grow: 1;
  flex-basis: 200;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
}

.content2 img, p {
  flex-grow: 1;
  flex-basis: 200;
}

.content3 {
  display: flex;
  flex-wrap: wrap;
}

.content3 img, p {
  flex-grow: 1;
  flex-basis: 200;
}


/* Content */
/* ikabil ditoy day design jay content pang cellphone */
.content {
  background-color:rgba(18, 18, 18, 0.8);
  margin: 0;
  display: flexbox;
  border-radius: 0px;
}

/* Footer */
footer {
  background-color:rgba(18, 18, 18, 0.8);
  text-align: center;
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
}