body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(img/background2.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


/* Header Style */
.header {
  background-color:rgba(18, 18, 18, 0.9);
  position: fixed;
  width: 100%;
  padding: 24px 80px;
  box-sizing: border-box;
  z-index: 1;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a {
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  margin: 0px 20px;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.header a.active {
  background-color: rgb(28, 129, 230);
  color: white;
}

.header-right {
  margin-top: 10px;
  float: right;
}

.header-right a:hover {
  background-color: #0056b3;
}


/* Video Style */
.video {
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: -100vh;
  position: fixed;
  top: 0;
}

/* Center logo */
.overlay-text {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  padding-left: 20px;
  border-left: 30px white solid;
  z-index: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overlay-text h2 {
  margin: 0;
  text-align: left;
}

.overlay-text h4 {
  margin: 0;
  text-align: left;
}


/* Content */
.content {
  background-color:rgba(18, 18, 18, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 50px 200px;
  padding: 50px;
  border-radius: 20px;
}

.fist-content {
  margin-bottom: 200px;
  text-align: left;
}

.fist-content h2, p{
  color: aliceblue;
}

.second-content {
  margin-bottom: 200px;
  text-align: left;
}

.second-content h2, p{
  color: aliceblue;
}

.third-content {
  margin-bottom: 200px;
  text-align: left;
}

.third-content h2, p{
  color: aliceblue;
}


/* Footer */
footer {
  background-color:rgba(18, 18, 18, 0.8);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
}

footer h4 {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}


/* Mobile Phone Screen */
@media screen and (max-width: 1080px) {
/* Header Style */
.header {
  background-color:rgba(18, 18, 18, 1);
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding: 24px px;
  z-index: 1;
}

.header a {
  width: 250px;
  float: none;
  display: block;
  text-align: left;
}

.header-right {
  float: none;
}


/* Center logo */
.overlay-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-left: 20px;
  border-left: 25px white solid;
  z-index: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Content */
.content {
  background-color:rgba(18, 18, 18, 0.8);
  margin: 0;
  border-radius: 0px;
}

.content div {
  margin: 10px;
  padding: 0;
}

/* Footer */
footer {
  background-color:rgba(18, 18, 18, 0.8);
  text-align: center;
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
}
