html {
    scroll-behavior: smooth;
}
  
body { 
    margin: 0;
    font-family: 'Poppins';    
    background: url(https://images5.alphacoders.com/135/thumb-1920-1355054.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* content */
.container {
    height: auto;
    width: auto;
    margin: 8% 24%;
    padding: 50px 50px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color:rgba(255, 255, 255, 0.1);
}

.top-bar {
    margin: 8px;
    display: flex;
}

.name-container h1 {
    
}

.img-container img {
    height: 320px;
    width: 320px;
    text-align: left;
    margin: 5% 5%;
    border-radius: 100%;
}

.name-container {
    margin: 10px 40px;
}