html {
    scroll-behavior: smooth;
}
  
body { 
    margin: 0;
    font-family: 'Poppins';    
    background: url(https://cdn.wallpapersafari.com/69/90/DpTvQ0.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* content */
.container {
    height: 64%;
    width: auto;
    margin: 10% 24%;
    padding: 5px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color:rgba(148, 148, 148, 0.3);
}

.top-bar {
    margin: 10%;
    display: flex;
}

.img-container img {
    height: 280px;
    width: 280px;
    text-align: left;
    margin: 5% 5%;
    border-radius: 100%;
}

.name-container {
    margin: 10px 40px;
}


/* footer */
footer {
    width: auto;
    bottom: 0;
    padding: 8px 0;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color:rgba(24, 24, 24, 0.3);
}
    
footer p {
    
    text-align: center;
    text-shadow: 0 0 2px #ffffff; 
}