html {
    scroll-behavior: smooth;
}
  
body { 
    margin: 0;
    font-family: 'Poppins';
    background: url(./resources/images/ai_generated.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* content */
.container {
    height: auto;
    width: auto;
    margin: 7.5% 24%;
    padding: 32px 32px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background-color:rgba(64, 64, 64, 0.2);
}

.top-bar {
    margin: 2px;
    display: flex;
}

.name-container h1 {
    font-size: 3em;
    font-weight: bold;
}

.img-container img {
    height: 320px;
    width: 320px;
    text-align: left;
    margin: 5% 5%;
    border-radius: 100%;
}

.name-container {
    margin: 10px 40px;
}
